body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color:black;
  line-height: 16px;
  background-color:rgb(240, 240, 245);
}



.title {
  text-align: center;
  font-weight: 15px;
  letter-spacing: 15px;
  text-decoration:underline;
  text-transform:uppercase;
  font-family:'Franklin Gothic Medium';
  color: rgb(99, 59, 220);
  letter-spacing: -2px;
  margin: 20px;
}

.justify {
  text-align:center;
  font-weight:lighter;
  font-style:italic;
}

.real {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align:left;
  font-style:italic;
  line-height: 20px;
}

ul {
  list-style-type:lower-greek;
  color: rgb(255, 127, 159);
}

ol {
  list-style-type: upper-latin;
  list-style-position: inside;
  color: rgb(72, 0, 255);
}

.ruf {
  color: black;
  list-style-position: inside;
  list-style-type:decimal-leading-zero;
}

.table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.table th {
  text-align: left;
  padding: 5px 10px;
  text-align: center;
  color: blue;
  border: 2px solid black
}
.table td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid black;

}

.table tfoot td {
  text-align: left;
  padding-right: 30px;
}

.text-red {
  color: red;
  text-transform: uppercase;
  text-decoration:underline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-style: italic;
  padding: 10px;
}

.separ {
  margin: 20px 10px 40px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.page {
width: 800px;
margin-left: auto;
margin-right: auto;
}

/* Post */

.post {
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(119, 28, 28);
  padding: 15px 25px;
  background: url("../img/milkway.png") #fff no-repeat center ;
  background-size: cover;
}

.post-title {
  margin: 0 0 25px 0;
  color: rgb(176, 7, 7);
}

.post-text p {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: white;
}

/* Gradient */

.gradient 
  width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: solid rgb(37, 50, 232);
  /*background-image:linear-gradient(45deg,blue,green,#e7fb06)*/
    background-image: radial-gradient circle,blue,red