body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color:black;
  line-height: 1;
}

p {
  text-indent: 20px;
}

.title {
  text-align: center;
  letter-spacing: 8px;
  text-decoration:unset;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkolivegreen;
}

.justify {
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

ul {
  list-style-type:lower-greek;
  color: rgb(255, 127, 159);
}

ol {
  list-style-type: upper-latin;
  list-style-position: inside;
  color: rgb(72, 0, 255);
}